[Desktop Entry]
Type=Application
Name=LabelPush
Comment=Lightweight label printing app
Exec=labelpush.py
Terminal=false
Icon=/usr/share/icons/hicolor/256x256/apps/labelpush.png
Categories=Office;
Encoding=UTF-8


